replicaCount: 1

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

monitoring:
  podMonitor:
    enabled: false # enable after installing prometheus

config:
  data:
    ENABLE_USAGE_REPORTING: "false"

webhook:
  enabled: true
