certificates:
  - domain: "overburrow.dev"
    secretName: "overburrow-dev-tls"
  - domain: "overburrow.org"
    secretName: "overburrow-org-tls"

gateways:
  public:
    listeners:
      - name: http-org
        port: 80
        protocol: HTTP
      - name: https-org-root
        port: 443
        protocol: HTTPS
        hostname: "overburrow.org"
        tlsSecret: overburrow-org-tls
      - name: https-org-wildcard
        port: 443
        protocol: HTTPS
        hostname: "*.overburrow.org"
        tlsSecret: overburrow-org-tls

  private:
    tailscaleHostname: ingress
    listeners:
      - name: https-dev-root
        port: 443
        protocol: HTTPS
        hostname: "overburrow.dev"
        tlsSecret: overburrow-dev-tls
      - name: https-dev-wildcard
        port: 443
        protocol: HTTPS
        hostname: "*.overburrow.dev"
        tlsSecret: overburrow-dev-tls

routes:
  - name: argocd
    namespace: argocd
    serviceName: argocd-server
    servicePort: 80
    hostname: "argocd.overburrow.dev"
    visibility: private
  - name: infisical
    namespace: infisical
    serviceName: infisical-infisical-standalone-infisical
    servicePort: 8080
    hostname: "infisical.overburrow.dev"
    visibility: private
  - name: website
    namespace: website
    serviceName: website
    servicePort: 80
    hostname: "overburrow.dev"
    visibility: private
  - name: website-public
    namespace: website
    serviceName: website
    servicePort: 80
    hostname: "overburrow.org"
    visibility: public
