certificates:
  - domain: "overburrow.dev"
    secretName: "overburrow-dev-tls"
  - domain: "overburrow.org"
    secretName: "overburrow-org-tls"

gateways:
  public:
    listeners:
      - name: org-web
        port: 8000
        protocol: HTTP
      - name: org-websecure
        port: 8443
        protocol: HTTPS
        tlsSecret: overburrow-org-tls

  private:
    tailscaleHostname: ingress
    listeners:
      - name: dev-websecure
        port: 8444
        protocol: HTTPS
        tlsSecret: overburrow-dev-tls

routes:
  - name: argocd
    namespace: argocd
    serviceName: argocd-server
    servicePort: 80
    hostname: "argocd.overburrow.dev"
    visibility: private
  - name: infisical
    namespace: infisical
    serviceName: infisical-infisical-standalone-infisical
    servicePort: 8080
    hostname: "infisical.overburrow.dev"
    visibility: private
  - name: website
    namespace: website
    serviceName: website
    servicePort: 80
    hostname: "overburrow.org"
    visibility: public
  - name: grafana
    namespace: monitoring
    serviceName: prometheus-grafana
    servicePort: 80
    hostname: "grafana.overburrow.dev"
    visibility: private
  - name: prometheus
    namespace: monitoring
    serviceName: prometheus-kube-prometheus-prometheus
    servicePort: 9090
    hostname: "prometheus.overburrow.dev"
    visibility: private
  - name: alertmanager
    namespace: monitoring
    serviceName: prometheus-kube-prometheus-alertmanager
    servicePort: 9093
    hostname: "alertmanager.overburrow.dev"
    visibility: private
