domain: overburrow.dev
email: ethantlee21@gmail.com
tailscale:
  hostname: ingress

routes:
  - name: argocd
    namespace: argocd
    hostname: "argocd.overburrow.dev"
    serviceName: argocd-server
    servicePort: 80
  - name: infisical
    namespace: infisical
    hostname: "infisical.overburrow.dev"
    serviceName: infisical-infisical-standalone-infisical
    servicePort: 8080
  - name: website
    namespace: website
    hostname: "overburrow.dev"
    serviceName: website
    servicePort: 80
