apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gha-runner-dind-pvc
  namespace: gha-runner
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-path
