githubConfigSecret: gha-runner-secret
githubConfigUrl: "https://github.com/overburrow"

controllerServiceAccount:
  name: gha-runner-controller-gha-rs-controller
  namespace: gha-runner

containerMode:
  type: "dind"

template:
  spec:
    containers:
      - name: runner
        resources:
          requests:
            cpu: "1"
            memory: "512Mi"
          limits:
            cpu: "2"
            memory: "1Gi"

      - name: dind
        resources:
          requests:
            cpu: "2"
            memory: "1Gi"
          limits:
            cpu: "3"
            memory: "4Gi"
        volumeMounts:
          - name: dind-storage
            mountPath: /var/lib/docker

    volumes:
      - name: dind-storage
        persistentVolumeClaim:
          claimName: gha-runner-dind-pvc
