replicaCount: 1

# Disable embedded DBs
redis:
  enabled: false
postgresql:
  enabled: false

resources:
  limits:
    memory: 1Gi
    cpu: 500m

ingress:
  enabled: false
  nginx:
    enabled: false

infisical:
  env:
    - name: DB_CONNECTION_URI
      valueFrom:
        secretKeyRef:
          name: infisical-secrets
          key: DB_CONNECTION_URI
    - name: REDIS_URL
      valueFrom:
        secretKeyRef:
          name: infisical-secrets
          key: REDIS_URL
    - name: AUTH_SECRET
      valueFrom:
        secretKeyRef:
          name: infisical-secrets
          key: AUTH_SECRET
    - name: ENCRYPTION_KEY
      valueFrom:
        secretKeyRef:
          name: infisical-secrets
          key: ENCRYPTION_KEY
