apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: website
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
    argocd-image-updater.argoproj.io/image-list: website=ghcr.io/overburrow/website
    argocd-image-updater.argoproj.io/website.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/website.helm.image-tag: image.tag
    argocd-image-updater.argoproj.io/website.ignore-tags: latest
spec:
  project: default
  source:
    repoURL: https://github.com/overburrow/infra.git
    targetRevision: main
    path: apps/website
    helm:
      parameters:
        - name: image.tag
          value: latest
  destination:
    server: https://kubernetes.default.svc
    namespace: website
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
