# --- Grafana Configuration ---
grafana:
  # Use the secret created by the taskfile instead of a plaintext password.
  admin:
    existingSecret: "grafana-admin-secret"
    secretKey: "admin-password"

# --- Persistence ---
prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
