name: Build and Push Image

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string

jobs:
  docker-publish:
    name: Build and Push Docker Image
    runs-on: gha-runner-set
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile_path }}
          push: true
          platforms: linux/arm64
          tags: |
            ghcr.io/overburrow/${{ inputs.image_name }}:${{ inputs.image_tag }}
            ghcr.io/overburrow/${{ inputs.image_name }}:latest
